# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate

# Config files with secrets
# !!! PRODUCTION ORTAMINDA gitignore DOSYANIZA '*.xcconfig' DEĞERİNİ EKLEMEYİ UNUTMAYIN
# *.xcconfig

# Build
build/
DerivedData/

# CocoaPods
Pods/